@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

#root {
  width: 100%;
  min-height: 100%;
  display: table;
}

h1 {
  margin-top: 0;
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.overzicht, .map {
  display: table-cell;
}

.overzicht {
  width: 60%;
  position: fixed;
  overflow-y: scroll;
  padding: 20px;
  height: 100%;
  background: #2d3e50;
  color: #eee;
}

.overzicht p {
  margin: 5px 0 0;
}

.overzicht .uur {
  //font-size: 24px;
  margin: 10px 10px 0 0;
  float: left;
  text-align: center;
  background: #a45bb4;
  border-radius: 5px;
}

.overzicht .tijd {
  font-size: 24px;
  margin-bottom: 10px;
}

.overzicht .icon, .overzicht .temperatuur {
  float: left;
}

.overzicht .icon {
  width: 80px;
}

.overzicht .temperatuur {
  text-align: center;
  width: 80px;
  font-size: 30px;
  line-height: 70px;
}

.overzicht .dag {
  text-align: center;
  margin-top: 20px;
}

.clear {
  clear: both;
}

.map {
  width: 40%;
  height: 500px;
  position: relative;
}

#map_canvas {
  height: 100%;
}