* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100%;
  display: table;
}

h1 {
  margin-top: 0;
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.overzicht, .map {
  display: table-cell;
}

.overzicht {
  width: 60%;
  position: fixed;
  overflow-y: scroll;
  padding: 20px;
  height: 100%;
}

.overzicht p {
  margin: 5px 0 0;
}

.overzicht .uur {
  margin: 10px 0;
}

.map {
  width: 40%;
  height: 500px;
  position: relative;
}

#map_canvas {
  height: 100%;
}